*, *::after, *::before {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    border: 0%;
}

:root {
    --White: hsl(0, 0%, 98%);
    --LightGray: hsl(229, 6%, 66%);
    --DarkGray: hsl(234, 12%, 34%);
    --AzulOscuro: hsl(228, 45%, 44%);
    --Azul1: hsl(180, 62%, 55%);
    --Azul2: hsl(212, 86%, 64%);
    --Naranja: hsl(0, 78%, 62%);
    --Amarillo: hsl(34, 97%, 64%); 

    --DeepBlue: #0021F3;
    --BlueViolet: #8a2be2; 
    --NeonGreen: #39ff14; 
    --CrimsonRed: #990000; 
    --DeepOrange: #dc4d01;
}

/*1rem = 10px*/
html {
    /* font-size: 62.5%; */
    height: 100%;
    display: grid;
    place-items: center; 
}

body {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    background: var(--White);
    height: 100%;
    max-width: 375px;
    padding: 5.6rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.the_header {
    text-align: center;
}

.title1,
.title2 {
    font-size: 1.6rem;
}

.title1 {
    color: var(--LightGray);
    font-weight: 200;
}

.title2 {
    color: var(--DarkGray);
    font-weight: 600;
}

.h_p {
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 1.66rem;
}

p {
    color: var(--LightGray);
}

.main {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
}

/************************************************************/
/************************************************************/

.the_cards {
    border-radius: 8px;
    box-shadow: 0px 4px 10px var(--LightGray);
    max-width: 311px;
    padding: 9%;
    overflow: hidden;
    position: relative;
}

.the_superv {
    border-top: 5px solid var(--Azul1);
}

.t_builder {
    border-top: 5px solid var(--Naranja);
}

.the_karma {
    border-top: 5px solid var(--Amarillo);
}

.the_calc {
    border-top: 5px solid var(--Azul2);
}

.c_title {
    color: var(--DarkGray);
    font-size: 1.33rem;
}

.card_p {
    font-size: 0.86rem;
    line-height: 1.77;
}

.img1 {
    height: auto;
    width: 18.32%;
    margin-top: 14.86%;  
    margin-left: 70%;
}

.the_footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.attribution { 
    font-size: 1.2rem; 
    text-align: center; 
}

.attribution a { 
    color: var(--AzulOscuro); 
}

/************************************************************/
/************************************************************/

/*Los Media Queries:*/
@media only screen and (min-width: 486px) {
    body {
        max-width: 100%;
        padding: 5.3rem 11.46%;
    }

    .the_header {
        max-width: 54rem;
    }

    .title1,
    .title2 {
        font-size: 2.4rem;
    }

    .main {
        display: grid;
        grid-template: repeat(4, 1fr) / repeat(3, 1fr);
        gap: 2rem;
    }

    .the_cards {
        max-width: 350px;
    }

    .the_superv {
        grid-area: 2/1/span 2/span 1;
    }

    .t_builder {
        grid-area: 1/2/span 2/span 1;
    }

    .the_karma {
        grid-area: 3/2/span 2/span 1;
    }

    .the_calc {
        grid-area: 2/3/span 2/span 1;
    }
}

/************************************************************/
/************************************************************/